################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SnapshotService/obj
/SnapshotService/bin
*.user
