<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="cameras" value="[
      {
        'Name': 'Camera1',
        'Brand': 'HikVision',
        'Url': 'http://192.0.0.64/Streaming/channels/101/picture?snapShotImageType=JPEG',
        'Path': 'C:\\Snapshots\\C1',
        'Credentials': 'admin:12345',
        'Period': 5
      }
    ]" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="webSocketHttpBinding">
          <byteStreamMessageEncoding/>
          <httpTransport>
            <webSocketSettings transportUsage="Always" createNotificationOnConnection="true" />
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="SnapshotService.SnapshotService">
        <endpoint address="http://127.0.0.1:8023/SnapshotService" binding="customBinding"
          bindingConfiguration="webSocketHttpBinding" contract="SnapshotService.ISnapshotService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>